<!-- Begin Page Content -->
<div class="container-fluid">
  <p id="notice"><%= notice %></p>

  <!-- Page Heading -->
  <h1 class="h3 mb-4 text-gray-800">Obtén tu préstamo</h1>

  <%= link_to 'New Loan', new_loan_path %>

</div>
